---
import Layout from '../layouts/Layout.astro';
import LastPlayedCards from '@/components/LastPlayedCards.astro';
import MainCardsGroup from '@/components/MainCardsGroup.astro';

---

<Layout title="Astrofy">
	<div 
		id="playlist-container"
		class="relative  h-full px-5 pt-2 flex flex-col gap-6 transition-all duration-1000 bg-zinc-500"
	>
		<LastPlayedCards/>
		<MainCardsGroup/>

		<div class="absolute top-0 inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"></div>
	</div>
</Layout>

<style>
	
</style>
