---
import { playlists } from '@/lib/data';
import PlaylistItemCard from '@/components/PlaylistItemCard.astro';
import Greetings from '@/components/Greetings.astro';
---

<section  class="relative z-10 min-h-[200px]">
    <div class="flex justify-between items-center">
        <Greetings/>
        <a class="text-sm font-semibold opacity-70 hover:opacity-100 transition duration-300" href="#">Mostrar todo</a>
    </div>
    <div id="cardGroup" class="cards-group">
        { playlists.map(playlist => <PlaylistItemCard playlist={playlist} />) }
    </div>
</section>

<style>
    .cards-group {
        --card-number: calc(100% / 200px);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-template-rows: 1fr
    }
</style>