---
import { playlists } from '@/lib/data';
import PlaylistItemCard from '@/components/PlaylistItemCard.astro';
import Greetings from '@/components/Greetings.svelte';
---

<section class="relative z-10 min-h-[200px]">
    <Greetings/>
    <div class="cards-group">
        { playlists.map(playlist => <PlaylistItemCard playlist={playlist} />) }
    </div>
</section>

<style>
    .cards-group {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
</style>