---
import HeaderButtons from "./HeaderButtons";
import HeaderNavigation from "./HeaderNavigation";

---

<header class="relative h-[64px] flex w-full items-center justify-between gap-2  px-5 py-4 bg-zinc-700">
    <HeaderNavigation/>
    <HeaderButtons/>
    <!-- <nav class="fixed  border-tl-lg border-tr-lg">
    </nav> -->
</header>