---
import Home from "../icons/home.astro";
import Search from "../icons/search.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SidebarHeader from "./SidebarHeader.astro";
import SidebarPlaylists from "./SidebarPlaylists.astro";
import SidebarSearch from "./SidebarSearch";
import SidebarTags from "./SidebarTags.astro";
---

<nav class="flex flex-col flex-1 gap-2 overflow-hidden min-w-[72px] w-[385px] max-w-[450px]">
    <div class="rounded-lg bg-zinc-900 p-2">
        <ul>
            <SideMenuItem href="/">
                <Home/>
                Inicio
            </SideMenuItem>
            <SideMenuItem href="/#">
                <Search/>
                Buscar
            </SideMenuItem>
        </ul>
    </div>

    <div class="relative rounded-lg bg-zinc-900 h-full flex-1 gap-2 overflow-y-auto no-scrollbar">
        <div class="sticky top-0 z-10 bg-zinc-900">
            <SidebarHeader/>
            <SidebarTags/>
        </div>
        <div class="flex flex-col overflow-y-auto no-scrollbar gap-2 pb-2">
            <SidebarSearch/>
            <SidebarPlaylists/>
        </div>
    </div>
</nav>