---
import SideMenuCard from "./SideMenuCard.astro";
import { playlists } from "@/lib/data";
---

<div class="h-full px-2 pb-2 overflow-y-auto">
    <ul class="">

        {
            playlists.map(playlist => <SideMenuCard playlist={playlist}/>)
        }
    </ul>
</div>