---
---

<div class="w-full flex items-center min-w-0 flex-shrink">
    <div class="mx-4 my-2 h-full">
        <button class="bg-zinc-800 rounded-full text-sm box-border min-h-8 py-1 px-3">
            Álbumes
        </button>
    </div>
</div>