---
import Sidebar from '../components/Sidebar.astro';
import MainHeader from '@/components/MainHeader.astro';
import Player from '../components/Player.tsx';
import { ViewTransitions } from 'astro:transitions';
import Reziser from '@/components/Reziser';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions fallback="none"/>
	</head>
	<body>
		<div id="app" class="relative h-screen p-2 gap-2">
			<aside class="[grid-area:aside] flex h-full min-h-0">
				<Sidebar/>
        <Reziser/>
			</aside>

			<main class="[grid-area:main] relative rounded-lg bg-dark overflow-hidden overflow-y-auto h-full w-full no-scrollbar">
        <MainHeader/>
				<slot/>
			</main>

			<footer class="[grid-area:player] max-h-[72px]">
        <Player client:load transition:name="media-player" transition:persist/>
      </footer>
		</div>
	</body>
</html>

<style>
	#app {
		display: grid;
		grid-template-areas: 
		"aside main main"
		"player player player"
		;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr auto;
	}
</style>

<style is:global>

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
	html {
		font-family: "CircularStd", system-ui, sans-serif;
    background: #010101;
    color: white; 
	}

  .text-star{
    color:#1ED760;
  }
  
  .bg-dark{
    background-color:#121212;
  }

  .bg-star{
    background-color: #1ED760;
  }
  .no-scrollbar{
      -webkit-scrollbar-width: none;
      scrollbar-width: none;
  }

  .cards-group {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-template-rows: 1fr
  }
	@font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
      
</style>
